[package]
name = "kickoff"
version = "0.5.0"
authors = ["Folke Gleumes <folke-kickoff@gleumes.org>"]
edition = "2018"
description = "Fast and minimal program launcher"
license = "GPL-3.0-or-later"
homepage = "https://github.com/j0ru/kickoff"
repository = "https://github.com/j0ru/kickoff"
readme = "README.md"
keywords = ["wayland", "launcher", "wlroots"]

[dependencies]
wayland-client = "0.29.0"
smithay-client-toolkit = "0.15.2"
fontdue = "0.7.2"
image = "0.24.0"
fuzzy-matcher = "0.3.7"
nix = { version = "0.24.1", default_features = false, features = ["process"] }
shellwords = "1.1.0"
css-color = "0.2.4"
exec = "0.3.1"
xdg = "2.2.0"
toml = "0.5.8"
serde = { version = "1.0.127", features = ["derive"] }
hex = "0.4.3"
smithay-clipboard = "0.6.4"
log = "0.4.14"
env_logger = "0.9.0"
x11-keysymdef = "0.2.0"
fontconfig = "0.5.0"
notify-rust = "4.5.6"
clap = { version = "3.1.0", features = ["derive"] }
csv = "1.1"

[dependencies.tokio]
version = "1.9.0"
features = [
    "fs",
    "rt-multi-thread",
    "io-util",
    "time",
    "rt",
    "macros",
    "io-std",
]
default-features = false

[profile.release]
lto = true
