[package]
name = "kickoff"
version = "0.5.1"
authors = ["Folke Gleumes <folke-kickoff@gleumes.org>"]
edition = "2021"
description = "Fast and minimal program launcher"
license = "GPL-3.0-or-later"
homepage = "https://github.com/j0ru/kickoff"
repository = "https://github.com/j0ru/kickoff"
readme = "README.md"
keywords = ["wayland", "launcher", "wlroots"]

[dependencies]
wayland-client = "0.29.5"
smithay-client-toolkit = "0.15.4"
fontdue = "0.7.2"
image = { version = "0.24.4", default-features = false }
fuzzy-matcher = "0.3.7"
nix = { version = "0.25.0", default_features = false, features = ["process"] }
css-color = "0.2.4"
exec = "0.3.1"
xdg = "2.4.1"
toml = "0.5.9"
serde = { version = "1.0.147", features = ["derive"] }
hex = "0.4.3"
smithay-clipboard = "0.6.6"
log = "0.4.17"
env_logger = "0.9.1"
x11-keysymdef = "0.2.0"
fontconfig = "0.5.0"
notify-rust = "4.5.10"
clap = { version = "4.0.12", features = ["derive"] }
csv = "1.1.6"
futures = "0.3.24"
nom = "7.1.1"

[dependencies.tokio]
version = "1.21.2"
features = [
    "fs",
    "rt-multi-thread",
    "io-util",
    "time",
    "rt",
    "macros",
    "io-std",
]
default-features = false

[profile.release]
lto = true

[dev-dependencies]
criterion = { version = "0.4.0", features = ["async_tokio"] }

[[bench]]
name = "selection"
harness = false
